body {
  background: #f0f0f0;
  font-family: sans-serif;
}

h2 {
  margin-top: 0;
}

.tab-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.tab-list__item {
  display: inline;
}

.tab {
  display: inline-block;
  margin-right: 0.5rem;
}

.tab.is-active {
  color: red;
}

.panel {
  padding: 1rem;
  background: white;
}

.u-hidden {
  display: none;
}
